.contenedor:hover .imagen {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition-duration: 1s;
}
.contenedor {
    overflow:hidden;
    border-radius: 10px;
}

.min-h{
    height:300px;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}